body{
background-image: url("https://image.freepik.com/free-vector/different-emoji-set_53876-90479.jpg");
background-size: cover;
font-family: 'Cookie', cursive;
}
h2{
font-size: 50px;
padding-left: 50px:
}
img{
position: right;
width: 500px;
height: 500px;
}